:root {
    --color-blue-mediun: #8fe2e4;
    --color-purple:#632ce7;
    --color-gray:#ccc;
    --color-gray-mediun: #f8f9fa;
    --color-yellow: #fac32c;
    --color-white: #fff;
}
/* General style */

body {
    background-color: #632ce7;
}

a {
    color: inherit;
}

.container > .row {
    margin-bottom: 3rem;
}

/* Sections */

/* *Nav */

.narbar-brand > img {
    width: 55px;
}

.navbar-main .active {
    text-decoration: underline wavy var(--color-purple);
    text-underline-offset: 9px;
}

/* Header */

.icons-social-networks > a {
    --size:30px;
    width: var(--size);
    height:var(--size);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: .5s filter;
}

.icons-social-networks > a:hover {
    filter: opacity(0.5);
}

.sec-clients > a {
    transition: filter .3s;
}

.sec-clients > a:hover {
    filter: opacity(0.5);
}

.bg-facebook {
    background-color: #023693;
}

.bg-twitter {
    background-color: #33a9f3;
}

.bg-dribble {
    background-color: #f1066b;
}

.photo-frame {
    font-size: 20px;
}

.photo-frame::before, .photo-frame::after {
    content:"";
    display: block;
    width: var(--box-size);
    height: var(--box-size);
    position: absolute;
    z-index: -10;
    animation: turnZ 7s linear alternate-reverse infinite;
}

.photo-frame::before {
    --box-size: 3em;
    background-image: radial-gradient(var(--color-blue-mediun) 50%, var(--color-purple) 50%);
    top: calc(99% - (var(--box-size) / 2));
    right: calc(99% - (var(--box-size) / 2));
}

.photo-frame::after {
    --box-size: 5em;
    bottom: calc(98% - (var(--box-size) / 2));
    left: calc(98% - (var(--box-size) / 2));
    background: linear-gradient(
        45deg,
        var(--color-white)45%,
        transparent 45%
    ),
    radial-gradient(
        var(--color-purple)30%,
        var(--color-yellow)30% 70%,
        var(--color-gray-mediun)70%,
        transparent 70%
    );
}

@keyframes turnZ {
    to{
        transform: rotate(1turn);
    }
}

.header-main {
    min-height: 100vh;
}

/* Service */

.icon-service {
    --box-size: 70px;
    width: var(--box-size);
    height: var(--box-size);
    padding: 10px;
}

/* PortFolio */

.portfolio-item > img {
    transition: 0.4s transform;
}

.portfolio-item:hover > img{
    transform: scale(0.96);
    /* filter: grayscale(0.9); */
    filter:saturate(1.5);
}

/* Clients */

.bg-purple {
    background-color: rgba(131 87 235 / 0.3);
    filter: opacity(0.55);
}

/* Reponsive */

@media screen and (max-width:400px){

    .--modifyTop {
        margin-top: 4rem;
    }

    .--textModify {
        font-size: 10px;
    }

    .header-main { 
        height: initial;
    }
    
    .photo-frame {
        font-size: 0.6em;
    }
}

